<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TransMuzik.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2D92D2591CCC2A5D00FCA5D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2D92D26D1CCC2A5D00FCA5D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2D92D2781CCC2A5D00FCA5D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
